[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.1"
pillow = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-cors-headers = "*"
faker = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.7"
